<h3 class="tcenter"><%= @picture.title %></h3>
<center><%= image_tag @picture.picture.url, class: 'blog-image' %></center>

<center><%=@picture.description %></center>

<hr>
<center><%= link_to "New Comment", new_picture_comment_url(@picture) %></center>


<div class="col-md-8">
  <h3>Comments:</h3>
  <% @picture.comments.each do |comment| %>
    <li style="list-style: none;">
      <div class="well">
        <%= comment.user.username %>
        <br>
        <%=%>
        <br>
        <%= comment.comment_body %>
        <br>

        <% if current_user.id == comment.user.id %>
          <p><%= link_to "Edit", edit_picture_comment_path(@picture, comment) %></p>
          <p><%= link_to "Delete",picture_comment_path(@picture, comment),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>
        <% end %>
      </div>
    </li>
  <% end %>
</div>
