<header>
  <nav>
    <div class="container">
      <div class="col-md-6">
        <ul class="cap">
          <li>
            <span><a href="/" class="specialColor">Home</a></span>
          </li>
          <li>
            <span><a href="#about">About</a></span>
          </li>
          <li>
            <span><a href="#projects">Portfolio</a></span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="sign_up_or_in">
          <% if current_user %>
            <%= link_to "Sign out", '/users/sign_out', method: 'delete' %> |
            <%=link_to "Hi, #{current_user.first_name}", '/' %> | 
            <%=link_to "Edit user", '/users/edit' %>
          <% else %>
            <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in' %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
